body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.flex-box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.btn-animation {
  padding: 12px;
}

@keyframes shake-animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.btn-animation:hover {
  animation-name: shake-animation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

/* plus icon */
.icon-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 20px;
  height: 20px;
}

.icon-plus:hover {
  animation-name: plus-animation;
  animation-duration: 1s;
}

.line {
  width: 20px;
  height: 3px;
  background-color: black;
}

.line:last-of-type {
  transform: rotate(90deg);
  position: absolute;
}

@keyframes plus-animation {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(-12deg) scale(1);
  }

  100% {
    transform: rotate(90deg) scale(2);
  }
}

/* menu */
.menu {
  width: 200px;
  height: 500px;
  background-color: black;
  padding: 20px;
  text-align: center;
  transform: translateX(-150px);
  transition: transform 0.5s ease-in;
}

.menu p {
  color: white;
}

.title {
  text-align: right;
}

.menu:hover {
  transform: translateX(0px);
}

.menu:hover .title {
  text-align: center;
}

.menu:hover .item {
  animation: bounce 0.5s cubic-bezier(0.6, -0.5, 0.735, 0.045);
}

@keyframes bounce {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(50px) skew(-20deg);
  }
  100% {
    transform: translateX(0px);
  }
}
