/* 커스텀 폰트 등록 방법 */

@font-face {
  font-family: "폰트이름";
  src: url();
}

body {
  font-family: "gulim";
}

p,
h4,
h3,
h1 {
  transform: rotate(0.03deg);
  /* 폰트 안티앨리어싱 : 폰트를 아주 조금 회전시키면 부드럽게 표현됨 */
}
