/* reset css */

body,
h1,
h2,
h3,
h4,
p,
span,
div,
input,
button,
textarea,
form,
table {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
}

table {
  border-collapse: collapse;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* content css */

.container {
  width: 800px;
  height: 200px;
}

.left-menu {
  width: 70%;
  height: 100%;
  float: left;
}

.user {
  width: 100%;
  float: left;
}

.profile-img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 100%;
  float: left;
}
.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-data {
  width: auto;
  padding-top: 10px;
  padding-left: 10px;
  float: left;
}

.user-data p {
  margin: 0px;
}

.name {
  font-size: 14px;
  color: #555555;
}

.time {
  font-size: 10px;
  color: #999;
}

.content-text {
  padding-top: 10px;
  height: 100%;
  clear: both;
}

.content-title {
  font-size: 18px;
}

.cotent-body {
  font-size: 14px;
  color: #555555;
  overflow: hidden;
  white-space: normal;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
}

.icon-box {
  width: 100%;
  height: 100%;
}

.empty-box {
  width: 95%;
  height: 100%;
  float: left;
}

.icon {
  width: 5%;
  float: left;
}

.right-menu {
  position: relative;
  width: 30%;
  height: 100%;
  float: left;
}

.plus-photo {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 0;
  left: 0;
  background-color: #555555;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.navbar a {
  font-size: 16px;
}

/* layout2 */
.main-background {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img_choigosim_001.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1px;
  text-align: center;
  color: white;
}

.main-background h2 {
  font-size: 40px;
  margin-top: 15%;
  margin-bottom: 0px;
}

.main-background p {
  margin-bottom: 50px;
}

.main-background a {
  color: black;
  padding: 20px 25px;
  border-radius: 10px;
  background-color: white;
  text-decoration: none;
}

.main-background a:visited {
  text-decoration: none;
}

.main-background a:hover {
  text-decoration: none;
  background-color: coral;
  color: white;
}

.sub-content {
  position: relative;
  width: 80%;
  max-width: 1024px;
  background-color: #eee;
  padding: 30px 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
}

/* form */

.form-container {
  width: 480px;
  background-color: #eee;
  padding: 32px 48px;
}

.form-box {
  margin-top: 32px;
}

input[type="email"],
input[type="text"] {
  width: 100%;
  border: #c9c9c9 solid 1px;
  border-radius: 5px;
  height: 28px;
  padding-left: 12px;
}

textarea {
  width: 100%;
  border: #c9c9c9 solid 1px;
  border-radius: 5px;
  resize: none;
  padding-left: 12px;
}

.first-name-box {
  float: left;
  width: 47%;
  margin-right: 5%;
}

.last-name-box {
  float: left;
  width: 48%;
}

.form-input-box {
  clear: both;
  width: 100%;
  margin-bottom: 18px;
  overflow: auto;
}

.submit-left-box {
  float: left;
  width: 80%;
}
.submit-right-box {
  float: left;
  width: 20%;
}
.submit-right-box button {
  width: 100%;
  height: 32px;
  border: none;
  background-color: gold;
  border-radius: 5px;
  color: white;
}

/* cart */
.cart-body {
  background-color: cornflowerblue;
  width: 100%;
  height: 100vh;
}

.cart-background {
  padding-top: 100px;
  width: 800px;
  margin: auto;
}

.cart-table {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;
}

.cart-table tr {
  border-bottom: cornflowerblue solid 1px;
}

.cart-table > tbody tr:last-of-type {
  border-bottom: none;
}

.cart-table td {
  padding: 20px 15px;
}

.cart-table-title {
  height: 50px;
}

.cart-product-thumbnail {
  width: 100px;
  overflow: hidden;
}

.cart-product-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-product-amount,
.cart-product-price,
.cart-product-total {
  text-align: right;
}

.cart-product-totalPrice {
  font-size: 18px;
  text-align: right;
}

.cart-bottom-btns {
  width: 100%;
  padding-top: 30px;
}

.cart-edit-cart {
  font-size: 16px;
  text-decoration: underline;
  float: left;
  color: #555555;
}

.cart-btn-pay {
  float: right;
  padding: 10px 20px;
  background-color: blue;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.cart-btn-pay:hover {
  background-color: chocolate;
}

/* flexbox */

.nav-box {
  background-color: coral;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  font-size: 20px;
}

.nav-menu {
  display: flex;
}

.nav-menu p {
  padding-left: 20px;
}

/* 반응형 */

.layout-body {
  background-color: #c9c9c9;
}
.layout-container,
.layout-contents {
  display: flex;
  width: 100%;
}

.laydout-content {
  width: 100%;
  background-color: white;
  padding: 40px 50px;
  text-align: center;
}
.laydout-content p:last-child {
  font-size: 14px;
  color: #555555;
  margin-top: 14px;
}

/* layout3 반응형 */
/* 태블릿 사이즈 */
@media screen and (max-width: 1200px) {
  .layout-contents {
    flex-wrap: wrap;
  }
}

/* 모바일 */
@media screen and (max-width: 768px) {
  .layout-contents,
  .layout-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
