body {
  background-color: #eee;
}

.drag-area {
  padding: 40px;
  background-color: #000;
  min-height: 300px;
}

.drag-area input {
  width: 100%;
}

span {
  background-color: yellow;
}

.title {
  margin-top: 50px;
}

.info-text {
  color: white;
}
